.app-title {
    font-family: 'Henny Penny', cursive;
    font-size: 3.2rem;
    letter-spacing: 2px;
}

#header {
    display:flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 1.5rem;
    padding-right: 2rem;
}