@using ListomoraFront.Services.Interfaces
<div class="topNavDiv navbar navbar-dark">
    <div class="topNavContainer">
        <a class="navbar-brand" href="">Listomora</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav>
        @if (IsConnected){
            <div class="nav-text-item">
                <div class="nav-link">
                    Bonjour @(User.FirstName + (User.LastName is null ? "" : " " + User?.LastName))
                </div>
            </div>
        }
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi fa-solid fa-house" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (!IsConnected){
            <div class="">
                <NavLink class="nav-link" href="login">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Se connecter
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="register">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Créer un compte
                </NavLink>
            </div>
        }
        else{
            <div class="nav-item">
                <NavLink class="nav-link" href="article">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Articles
                </NavLink>
            </div>
            <div class="nav-item">
                <span class="nav-link" @onclick="Logout">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Se déconnecter
                </span>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
