@page "/article/{id:guid}"

<h1>Détails d'article</h1>

<div>
    @if (Article is not null)
    {
        <dl class="row">
            <dt class="col-sm-2">
                Nom
            </dt>
            <dd class="col-sm-10">
                @Article.Name
            </dd>
            <dt class="col-sm-2">
                Est public
            </dt>
            <dd class="col-sm-10">
                @Article.IsPublic
            </dd>
            <dt class="col-sm-2">
                Nom créateur
            </dt>
            <dd class="col-sm-10">
                @Article.CreatorName
            </dd>
        </dl>
    }
</div>

<button @onclick="() => GoToList()" class="btn btn-outline-primary w-25 m-auto">Liste</button>