@page "/article"
@using ListomoraFront.Models
@using ListomoraFront.Models.Articles

<PageTitle>Articles</PageTitle>

<h3>Liste d'articles</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Nom créateur
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var a in Articles)
        {
            <tr>
                <td>
                    @a.Name
                </td>
                <td>
                    @a.CreatorName
                </td>
                <td>
                    <button @onclick="() => GoToDetails(a.Id)" class="btn btn-outline-primary">Détails</button>
                </td>
            </tr>
        }
    </tbody>
</table>
